{
  margin: 0px;
  padding: 0px;
}
div#etiqueta1{
  margin:auto;
  margin-top: inherit;
  padding: 10px;
  width:900px;
  height:5000px;
}
table,th,caption {
font-family: verdana;
border-collapse: collapse;
border: 4px solid #FF0000;
}

td{
border: 4px solid #FF0000;
padding: 1px;
}
